.toggle-container {
  display: flex;

  align-items: center;
  width: 100%;
}
.toggle-container span {
  font-weight: bold;
  font-size: 16px;
}

.toggle {
  visibility: hidden;
}

.label {
  background-color: #d0d0d0;
  width: 40px;
  height: 20px;
  border-radius: 50px;
  cursor: pointer;
  display: inline-block;
  position: relative;
}

.toggle:checked + .label {
  background-color: #8e44ad;
}

.toggle:disabled + .label {
  background-color: #bbb;
}

.ball {
  width: 16px;
  height: 16px;
  background-color: white;
  position: absolute;
  top: 2.5px;
  left: 2.5px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  animation: slideOff 0.3s linear forwards;
}

.toggle:checked + .label .ball {
  animation: slideOn 0.3s linear forwards;
}

@keyframes slideOn {
  0% {
    transform: translateX(0) scale(1);
  }
  50% {
    transform: translateX(10px) scale(1.1);
  }
  100% {
    transform: translateX(18.5px) scale(1);
  }
}

@keyframes slideOff {
  0% {
    transform: translateX(18.5px) scale(1);
  }
  50% {
    transform: translateX(10px) scale(1.1);
  }
  100% {
    transform: translateX(0) scale(1);
  }
}
