.fc {
  width: 100%;
}

.fc .fc-toolbar-title {
  width: 160px;
  padding-left: 10px;
  font-size: 30px;
}

.fc .fc-toolbar button {
  margin: 1px;
  background-color: #f23d4c;
}

.fc .fc-button-primary:not(:disabled).fc-button-active {
  border: 1px solid white;
  background-color: #f23d4c;
}

.fc .fc-button-primary:not(:disabled):hover {
  border: 1px solid white;
  background-color: #f2727d;
}
.fc .fc-button-primary:not(:disabled) {
  border: 1px solid white;
  background-color: #f2a7a7;
}
.fc .fc-button.fc-button-primary:not(:disabled):active {
  background-color: #f23d4c;
  transform: scale(0.95);
}

.fc .fc-button-primary:not(:disabled).fc-button-active:active,
.fc .fc-button-primary:not(:disabled).fc-button-active:focus,
.fc .fc-button-primary:not(:disabled):active,
.fc .fc-button-primary:not(:disabled):focus {
  box-shadow: none !important;
  border: none;
}

.fc-col-header {
  background-color: #ff3d3d;
}

::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.fc-prev-button,
.fc-next-button {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  width: 70px !important;
  height: 40px !important;
  margin: 1px !important;
  background-color: #f23d4c !important;
}
.fc-prev-button:hover,
.fc-next-button:hover {
  background-color: #f2727d !important;
}

.fc-prev-button span,
.fc-next-button span {
  color: white;
  font-weight: bold;
}

.fc-list-table .fc-list-day-cushion {
  background-color: rgb(0, 0, 0, 20%) !important;
}
